#header {
    width: auto;
    height: 700px;
    margin-bottom: 1px;
}

#main {
    height: 1000px;
}

#footer {
    width: auto;
    height: 250px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: azure;
    margin-top: auto;
}

.footerImage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/footer.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* .container {
    border-style: solid;
    border-color: gainsboro;
} */

.button {
    display: inline-block;
    position: relative;
    background-color: black;
    padding: 20px;
    width: 100%;
    color: #ffffff;
    text-align: center;
}

.bannerImage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/banner.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.name {
    font-size: 600%;
}

.slogan {
    font-size: 180%;
}

.bannerText {
    text-align: center;
    color: azure;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.products {
    text-align: center;
    color: black;
}

.featured {
    text-align: center;
}

.wholeBody {
    background-image: url(../Images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#homeImage {
    background-image: url("https://media.istockphoto.com/id/1312128591/vector/home-icon-vector-house-sign.jpg?s=612x612&w=0&k=20&c=jxUT546g8Cfgv1SiAfh2Eos46XI3DqYvPLhxGFaobpE=");
    background-size: cover;
    background-position: center;
}

#aboutImage {
    background-image: url("https://images.pexels.com/photos/2882509/pexels-photo-2882509.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-size: cover;
    background-position: center;
}

#buyNowImage {
    background-image: url("https://images.pexels.com/photos/6097871/pexels-photo-6097871.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-size: cover;
    background-position: center;
}

#contactUsImage {
    background-image: url("https://images.pexels.com/photos/1416530/pexels-photo-1416530.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-size: cover;
    background-position: center;
}

#galleryImage {
    background-image: url("https://images.pexels.com/photos/3230516/pexels-photo-3230516.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-size: cover;
    background-position: center;
}

.newProducts {
    text-align: center;
    color: azure;
    font-size: x-large;
}

#hotChocolateRoll {
    background-image: url("https://images.pexels.com/photos/5702931/pexels-photo-5702931.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

#applePie {
    background-image: url("https://images.pexels.com/photos/6163270/pexels-photo-6163270.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

#custardTart {
    background-image: url("https://images.pexels.com/photos/6605303/pexels-photo-6605303.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

#mudpieCake {
    background-image: url("https://images.pexels.com/photos/2067436/pexels-photo-2067436.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}