<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <link rel="stylesheet" href="../BuyNowPage/styleSheet.css">
    <link href=" https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <title>Buy Now</title>
</head>

<body>
    <div id="header">
        <div class="bannerImage">
            <div class="bannerText">
                <img src="..//Images/logo.png">
                <p class="slogan">Home Bakeries Est. 2021</p>
            </div>
        </div>
    </div>

    <div id="sideNav">
        <br>
        <ul class="navItems">
            <a class="button" href="../HomePage/index.html">Home</a>

        </ul>
        <br>
        <br>
        <ul class="navItems">
            <a class="button" href="../AboutPage/index.html">About</a>

        </ul>
        <br>
        <br>
        <ul class="navItems">
            <a class="button" href="../BuyNowPage/index.html">Buy Now</a>

        </ul>
        <br>
        <br>
        <ul class="navItems">
            <a class="button" href="../ContactPage/index.html">Contact Us</a>

        </ul>
        <br>
        <br>
        <ul class="navItems">
            <a class="button" href="../GalleryPage/index.html">Gallery</a>
        </ul>
    </div>
    <div class="wholeBody">
        <div id="myVueApp">
            <div class="products">
                <product class="item" v-for="product in products" v-bind:name="product.name"
                    v-bind:image="product.image" v-bind:description="product.description" v-bind:price="product.price"
                    v-bind:show-add="true" v-on:add-to-add-To-Cart="onAddToCart(product)">
                </product>
            </div>
            <div class="products">
                <product class="item" v-for="product in products" v-bind:name="product.name"
                    v-bind:image="product.image" v-bind:description="product.description" v-bind:price="product.price"
                    v-bind:show-remove="true" v-on:remove-from-add-To-Cart="onRemoveItem(product)">
                </product>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="footerImage">
            <div clss="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col" id="footerIcons">
                            <div classs="header col-md-1">
                                <p>Follow Us</p>
                            </div>
                        </div>
                        <a href=https://www.instagram.com target="blank">
                            <img class="icons" src="../Images/Instagram.png" alt="instagram"></a>
                        <a href=https://www.facebook.com target="blank">
                            <img class="icons" src="../Images/facebook.png" alt="facebook"></a>

                        <a href="http://www.twitter.com" target="blank">
                            <img class="icons" src="../Images/twitter.png" alt="twitter"></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
<script tyoe="text/javascript" src="../Components/product.js"></script>
<script type="text/javascript" src="../BuyNowPage/majorCode.js"></script>


</html>