#header {
    width: auto;
    height: 250px;
    margin-bottom: 1px;
}

.bannerImage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/banner.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bannerText {
    text-align: center;
    color: azure;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slogan {
    font-size: 180%;
}

.wholeBody {
    background-color: rgb(244, 231, 207);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#footer {
    width: auto;
    height: 250px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: azure;
    margin-top: auto;
    font-size: xx-large;

}

.footerImage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/footer.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.icons {
    align-items: center;
    width: 5rem;
    margin: 1rem;
}

.row img:hover {
    transform: scale(1.1);
}

#sideNav {
    float: left;
    background-image: url("https://cdn.pixabay.com/photo/2016/10/10/01/58/background-1727498__340.png");
    height: 1200px;
    width: 140px;
    margin-left: -30px;
    font-size: large;
}

.navItems {
    width: 140px;
    position: fixed;
    text-align: center;
    background-color: rgb(244, 231, 207);
    border-style: solid;
    border-color: rgb(255, 0, 85);
    border-right: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.button {
    color: rgb(255, 0, 85);
    font-size: large;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    color: rgba(255, 0, 0, 0.553);
    text-align: center;
}

.description {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.price {
    color: rgb(255, 0, 195);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.item {
    border-style: solid;
    border-color: rgb(255, 190, 241);
    display: flex;
    flex-direction: column;
    height: 100%;

}

.products {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow-y: auto;
    column-gap: 10px;

}

.myProducts {
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
}

.myCart {
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
}

.myCartTotal {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}